.commonDiv {
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoDiv {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addDiv {
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5),
    0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.button {
  max-height: 40px;
  max-width: 100px;
  background-color: #8080806a;
  border: 1px solid black;
  padding: 4px 0;
  border-radius: 4px;
}
